{% extends "layout.html" %}

{% block content %}
<h1>About</h1>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <p>
            You can add your favorite place and after contest selection the best places will be selected and marked on the map that you can use during the flight.
        </p>
    </div>
</div>

<h1>Add</h1>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" style="width:400px" id="usr">
        </div>
        <div class="form-group">
            <label for="em">Email:</label>
            <input type="text" class="form-control" style="width:400px" id="em">
        </div>
        <div class="form-group">
            <label for="comment">Description:</label>
            <textarea class="form-control" rows="5" style="width:400px" id="comment"></textarea>
        </div>
        <div class="top-cover center-block">
            <button type="button" class="btn btn-default" style="background-color:cornflowerblue; color:black;">Sumbit</button>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <label for="descr">Position:</label>
        <div class="row">

            <div id="map-container"></div>
            <style>
                #map-container {
                    height: 300px;
                    width: 500px;
                }
            </style>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
            <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
            <script>


                function init_map() {
                    var var_location = new google.maps.LatLng(45.430817, 12.331516);

                    var var_mapoptions = {
                        center: var_location,
                        zoom: 14
                    };

                    var var_marker = new google.maps.Marker({
                        position: var_location,
                        map: var_map,
                        title: "Venice"
                    });

                    var var_map = new google.maps.Map(document.getElementById("map-container"),
                        var_mapoptions);

                    var_marker.setMap(var_map);

                }

                google.maps.event.addDomListener(window, 'load', init_map);

            </script>
        </div>
    </div>
</div>
{% endblock %}
